
*{
    margin: 0;
    padding: 0;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    color: #050101;
    line-height:1.6;
}


div.nav
{
    overflow: auto;
}

.Bg-image{
    position: relative;

}

.Bg-overlay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 100%;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#bg {
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;

}

#bg h1{
    font-size:50px;
    line-height:1.2;

}

#bg p{
    font-size:20px;

}

#bg .button{
    font-size:18px;
    text-decoration:none;
    color:#926239;
    border:#926239 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;

}

#bg .button:hover{
    background:#926239;
}
.chart-wrapper {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.container {
    margin: auto;
    width: 50%;
}
.container2 {
    margin: auto;
    width: 50%;
}

.highlight {
    color: maroon;
    font-weight: bold;
}
.match {
    text-align: center;
    margin: 2px 0;
}
.link {
    color: green;
    border: none;
    padding: 0;
    background-color: transparent;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.link:hover {
    text-decoration: underline;
}
input[type=text] {
    padding: 12px 20px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

th {
    background: #333;
    color: black;
    font-weight: bold;
    padding: 6px;
    border: 1px solid black;
    text-align: left;
}

td {
    padding: 6px;
    border: 1px solid black;
    text-align: left;
}

/*body {*/
/*    font-family: Verdana, Geneva, Tahoma, sans-serif;*/
/*    --col-text-dark: #122C34;*/
/*    --col-text-light: white;*/
/*    --col-highlight: #206C97;*/
/*    --col-main: #4EA5D9;*/
/*    color: var(--col-text-dark);*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*    margin-bottom: 50px;*/
/*    background: var(--col-main);*/
/*    color: var(--col-text-light);*/
/*    width: 80%;*/
/*    max-width: 700px;*/
/*    padding: 5px;*/
/*}*/

/*.container {*/
/*    width: 100vw;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/
/*}*/

/*.row {*/
/*    width: 80%;*/
/*    max-width: 700px;*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: flex-start;*/
/*}*/

/*.row-item {*/
/*    margin-top: 10px;*/
/*}*/

/*.row-total {*/
/*    padding-top: 2px;*/
/*    border-top: 1px solid var(--col-highlight);*/
/*    margin-top: 10px;*/
/*}*/

/*.col-total {*/
/*    padding-top: 5px;*/
/*    border-top: 1px solid var(--col-highlight);*/
/*    font-weight: 800;*/
/*}*/

/*.col {*/
/*    width: 15%;*/
/*}*/

/*.col.name {*/
/*    width: 55%;*/
/*}*/

/*.header {*/
/*    color: var(--col-highlight);*/
/*    font-weight: 800;*/
/*    text-align: center;*/
/*    border-bottom: 1px solid var(--col-highlight);*/
/*    padding-bottom: 5px;*/
/*}*/

/*.numeric {*/
/*    box-sizing: border-box;*/
/*    text-align: right;*/
/*    padding-right: 20px;*/
/*}*/

/*.descr {*/
/*    flex-grow: 1;*/
/*    text-align: right;*/
/*}