<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>FoodInput</title>
    </head>

    <body>
    <header>
        <h1>Food Input</h1>
    </header>

    <p>
        This is the input section. <br>
        Here you can input the consumed food.
    </p>


        <label for="food">Food:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input type="text" id="food" name="inputfood" onkeyup="Allow"><br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity"><br><br>
        <input type="submit" value="Add" onclick="insert()" id="add"><br><br>
        <div id="display"></div><br>

    <form th:action="@{tracker}">
        <input type="submit" value="Submit"><br>
    </form>

    <br>
    <br>

    <button><a th:href="@{home}">Logout</a></button><br>


    <script type="text/javascript">
        const titles = [];
        const titleInput = document.getElementById("food");
        const messageBox = document.getElementById("display");

        function Allow(){
            if (user.title.value !== "" && !user.title.value.match(/[a-zA-Z]$/)) {
                user.title.value="";
                alert("Please Enter only alphabets");
            }
        }

        function insert () {
            titles.push(titleInput.value);
            clearAndShow();
        }

        function clearAndShow () {
            titleInput.value = "";
            messageBox.innerHTML = "";
            messageBox.innerHTML += titles.join(", ") + "<br/>";
        }

        document.getElementById("name")
            .addEventListener('keyup', function(event) {
                if (event.code === 'Enter')
                {
                    event.preventDefault();
                    document.querySelector('form').submit();
                }
            });
    </script>
    </body>


</html>