<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Food Input</title>
    </head>

    <body>

    <form method="POST" action="food_input" id="input_form">

        <p>Food:</p>
        <label>
            <input type="text" name="food"/>
        </label>
        <br>

        <p>Quantity:</p>
        <label>
            <input type="text" name="quantity">
        </label>
        <br><br>

        <input type="submit" value="Add"/>
        <br><br>

    </form>


    <br><br>

    <button><a th:href="@{tracker}">To Dashboard</a></button>
    <br><br>
    <button><a th:href="@{home}">Logout</a></button><br>

    </body>

</html>