<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>

    <body>
    <header>
        <h1>Login page</h1>
    </header>

    <p>
        This is the login page.<br>
        Here you can log in to gain access to the Calorie Tracker web app.
    </p><br>

    <form th:action="@{food_input}">


        <label for="user">Username:</label>
        <input type="text" id="user" name="username"><br><br>

        <label for="password">Password:&nbsp;</label>
        <input type="password" id="password" name="password"><br><br>

        <label><input type="checkbox" onclick="showPassword()"></label>Show Password<br><br>
        <input type="submit" value="Submit">
    </form>


    <script>
        function showPassword() {
            const x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

    </body>

</html>