<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CalorieCalculator</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

    <link   rel="stylesheet"
            th:href="@{/css/style.css}"
            href="../../css/style.css"
    />
</head>

<body>
<section>
    <div th:fragment="background">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Calorie calculator</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample03">
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{index}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{home}">login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{food_input}">Food Input</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{tracker}">Overview</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</section>

<section>
    <div class="Bg-image">
        <img th:src="@{/images/food-background.jpeg}" src="../../images/food-background.jpeg" alt="background pic" style="width:100%;">
        <div class="Bg-overlay">
            <span id="result"></span>
            <br>
            <p>Here you can find your nutrition values of all the food items u put in.<br>
                If you hover on the pie chart u can see the values</p>
            <canvas id="myChart"></canvas>
            <canvas id="myChart2"></canvas>

            <button><a th:href="@{food_input}">Back</a></button><br><br>
            <button><a th:href="@{home}">Logout</a></button><br><br>
        </div>
    </div>
</section>

<script src="../../js/Tracker.js"></script>


<script>
    // charts
    console.log(StorageCtrl.CheckForItem());
    const json = localStorage.getItem('items');
    const parseJson = JSON.parse(json);

    let myChart1 = document.getElementById('myChart').getContext('2d');

    let labels = ['protein (g)', 'fat (g)', 'SaternadedFat (g)', 'sugar (g)', 'fiber (g)'];

    let colorHex = ['#FB3640', '#EFCA08', '#43AA8B', '#253D5B', '#F033FF', '#060606', '#FFFFFF']

    let Protein =
        StorageCtrl.CheckForItem0().protien * (StorageCtrl.CheckForItem0().quanti) +
        StorageCtrl.CheckForItem().protien * (StorageCtrl.CheckForItem().quanti) +
        StorageCtrl.CheckForItem2().protien * (StorageCtrl.CheckForItem2().quanti) +
        StorageCtrl.CheckForItem3().protien * (StorageCtrl.CheckForItem3().quanti) +
        StorageCtrl.CheckForItem4().protien * (StorageCtrl.CheckForItem4().quanti) +
        StorageCtrl.CheckForItem5().protien * (StorageCtrl.CheckForItem5().quanti) +
        StorageCtrl.CheckForItem6().protien * (StorageCtrl.CheckForItem6().quanti) +
        StorageCtrl.CheckForItem7().protien * (StorageCtrl.CheckForItem7().quanti) +
        StorageCtrl.CheckForItem8().protien * (StorageCtrl.CheckForItem8().quanti) +
        StorageCtrl.CheckForItem9().protien * (StorageCtrl.CheckForItem9().quanti) ;


    let Fat =
        StorageCtrl.CheckForItem0().fat * (StorageCtrl.CheckForItem0().quanti)+
        StorageCtrl.CheckForItem().fat * (StorageCtrl.CheckForItem().quanti)+
        StorageCtrl.CheckForItem2().fat * (StorageCtrl.CheckForItem2().quanti)+
        StorageCtrl.CheckForItem3().fat * (StorageCtrl.CheckForItem3().quanti)+
        StorageCtrl.CheckForItem4().fat * (StorageCtrl.CheckForItem4().quanti)+
        StorageCtrl.CheckForItem5().fat * (StorageCtrl.CheckForItem5().quanti)+
        StorageCtrl.CheckForItem6().fat * (StorageCtrl.CheckForItem6().quanti)+
        StorageCtrl.CheckForItem7().fat * (StorageCtrl.CheckForItem7().quanti)+
        StorageCtrl.CheckForItem8().fat * (StorageCtrl.CheckForItem8().quanti)+
        StorageCtrl.CheckForItem9().fat * (StorageCtrl.CheckForItem9().quanti);

    let FatSat =
        StorageCtrl.CheckForItem0().fasat * (StorageCtrl.CheckForItem0().quanti)+
        StorageCtrl.CheckForItem().fasat * (StorageCtrl.CheckForItem().quanti)+
        StorageCtrl.CheckForItem2().fasat * (StorageCtrl.CheckForItem2().quanti)+
        StorageCtrl.CheckForItem3().fasat * (StorageCtrl.CheckForItem3().quanti)+
        StorageCtrl.CheckForItem4().fasat * (StorageCtrl.CheckForItem4().quanti) +
        StorageCtrl.CheckForItem5().fasat * (StorageCtrl.CheckForItem5().quanti)+
        StorageCtrl.CheckForItem6().fasat * (StorageCtrl.CheckForItem6().quanti)+
        StorageCtrl.CheckForItem7().fasat * (StorageCtrl.CheckForItem7().quanti)+
        StorageCtrl.CheckForItem8().fasat * (StorageCtrl.CheckForItem8().quanti)+
        StorageCtrl.CheckForItem9().fasat * (StorageCtrl.CheckForItem9().quanti);

    let sugar =
        StorageCtrl.CheckForItem0().sugar * (StorageCtrl.CheckForItem0().quanti)+
        StorageCtrl.CheckForItem().sugar * (StorageCtrl.CheckForItem().quanti)+
        StorageCtrl.CheckForItem2().sugar * (StorageCtrl.CheckForItem2().quanti)+
        StorageCtrl.CheckForItem3().sugar * (StorageCtrl.CheckForItem3().quanti)+
        StorageCtrl.CheckForItem4().sugar * (StorageCtrl.CheckForItem4().quanti)+
        StorageCtrl.CheckForItem5().sugar * (StorageCtrl.CheckForItem5().quanti)+
        StorageCtrl.CheckForItem6().sugar * (StorageCtrl.CheckForItem6().quanti)+
        StorageCtrl.CheckForItem7().sugar * (StorageCtrl.CheckForItem7().quanti)+
        StorageCtrl.CheckForItem8().sugar * (StorageCtrl.CheckForItem8().quanti)+
        StorageCtrl.CheckForItem9().sugar * (StorageCtrl.CheckForItem9().quanti);


    let Fiber =
        StorageCtrl.CheckForItem0().fiber * (StorageCtrl.CheckForItem0().quanti)+
        StorageCtrl.CheckForItem().fiber * (StorageCtrl.CheckForItem().quanti)+
        StorageCtrl.CheckForItem2().fiber * (StorageCtrl.CheckForItem2().quanti)+
        StorageCtrl.CheckForItem3().fiber * (StorageCtrl.CheckForItem3().quanti)+
        StorageCtrl.CheckForItem4().fiber * (StorageCtrl.CheckForItem4().quanti)+
        StorageCtrl.CheckForItem5().fiber * (StorageCtrl.CheckForItem5().quanti)+
        StorageCtrl.CheckForItem6().fiber * (StorageCtrl.CheckForItem6().quanti)+
        StorageCtrl.CheckForItem7().fiber * (StorageCtrl.CheckForItem7().quanti)+
        StorageCtrl.CheckForItem8().fiber * (StorageCtrl.CheckForItem8().quanti)+
        StorageCtrl.CheckForItem9().fiber * (StorageCtrl.CheckForItem9().quanti);


    let chart1 = new Chart(myChart1, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                data: [Protein, Fat, FatSat, sugar, Fiber],
                backgroundColor : colorHex
            }],

        },
        options: {
            responsive: false
        }

    });

    let myChart2 = document.getElementById('myChart2').getContext('2d');

    let labels2 = ['Kcal','kJ'];
    let colorHex2 = ['#FB3640', '#EFCA08']

    let kcal =
        StorageCtrl.CheckForItem0().kcal * (StorageCtrl.CheckForItem0().quanti) +
        StorageCtrl.CheckForItem().kcal * (StorageCtrl.CheckForItem().quanti) +
        StorageCtrl.CheckForItem2().kcal * (StorageCtrl.CheckForItem2().quanti) +
        StorageCtrl.CheckForItem3().kcal * (StorageCtrl.CheckForItem3().quanti) +
        StorageCtrl.CheckForItem4().kcal * (StorageCtrl.CheckForItem4().quanti)+
        StorageCtrl.CheckForItem5().kcal * (StorageCtrl.CheckForItem5().quanti) +
        StorageCtrl.CheckForItem6().kcal * (StorageCtrl.CheckForItem6().quanti) +
        StorageCtrl.CheckForItem7().kcal * (StorageCtrl.CheckForItem7().quanti) +
        StorageCtrl.CheckForItem8().kcal * (StorageCtrl.CheckForItem8().quanti) +
        StorageCtrl.CheckForItem9().kcal * (StorageCtrl.CheckForItem9().quanti);

    let kJ =
        StorageCtrl.CheckForItem0().kj * (StorageCtrl.CheckForItem0().quanti)+
        StorageCtrl.CheckForItem().kj * (StorageCtrl.CheckForItem().quanti) +
        StorageCtrl.CheckForItem2().kj * (StorageCtrl.CheckForItem2().quanti)+
        StorageCtrl.CheckForItem3().kj * (StorageCtrl.CheckForItem3().quanti)+
        StorageCtrl.CheckForItem4().kj * (StorageCtrl.CheckForItem4().quanti)+
        StorageCtrl.CheckForItem5().kj * (StorageCtrl.CheckForItem5().quanti)+
        StorageCtrl.CheckForItem6().kj * (StorageCtrl.CheckForItem6().quanti) +
        StorageCtrl.CheckForItem7().kj * (StorageCtrl.CheckForItem7().quanti)+
        StorageCtrl.CheckForItem8().kj * (StorageCtrl.CheckForItem8().quanti)+
        StorageCtrl.CheckForItem9().kj * (StorageCtrl.CheckForItem9().quanti);

    let chart2 = new Chart(myChart2, {
        type: 'pie',
        data: {
            labels: labels2,
            datasets: [{
                data: [kcal, kJ],
                backgroundColor : colorHex2
            }],
        },
        options: {
            responsive: false
        }

    });

</script>

<script>



</script>





</body>

</html>