<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <title>Calorie Tracker</title>
    </head>

    <body>
    <header>
        <h1>Calorie Tracker</h1>
    </header>

    <p>This is the calorie tracker dashboard<br>
    Here you can see the amount of nutrients intake.</p>


    <button><a th:href="@{food_input}">Back</a></button><br><br>
    <button><a th:href="@{home}">Logout</a> </button>
    </body>

</html>